body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  -webkit-animation: zoomeffect 10s;
  infinite;
   -moz-animation: zoomeffect 10s infinite;
   animation: zoomeffect 10s infinite;
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/img/wallpaper.jpeg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

@-webkit-keyframes zoomeffect{
  0%{
    background-position:center;
    transform:scale(1,1);
  }

  50%{
    background-position:center;
    transform:scale(2,1);
  }
  100%{
    background-position:center;
    transform:scale(1,1);
  }
}
/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 40%;
  height: 85%;
  width: 30%;
  font-style: italic;
  transform: translate(-50%, -50%);

  background-color:gainsboro;
  opacity: 70%;
}

#subheader{
    background-color:#FF1493;
    margin-top: -2%;

}

.logo{
    margin-top: -3%;
    margin-left: 4%;
}

h1{
  color: red;
}